##*******************************************##
##              [[ fatpound* ]]              ##
##                                           ##
##  clang-tidy Config File for Standard C++  ##
##*******************************************##

Checks: '
   *,
  -altera-unroll-loops,
  -altera-id-dependent-backward-branch,

  -bugprone-easily-swappable-parameters,

  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-goto,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-explicit-virtual-functions,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-static-cast-downcast,

  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,
  -fuchsia-overloaded-operator,
  -fuchsia-trailing-return,

  -google-readability-namespace-comments,

  -hicpp-avoid-goto,
  -hicpp-named-parameter,
  -hicpp-uppercase-literal-suffix,
  -hicpp-use-override,

  -llvm-header-guard,
  -llvm-inline-function-decl,
  -llvm-include-order,
  -llvm-namespace-comment,

  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-inline-function-decl,
  -llvmlibc-restrict-system-libc-headers,

  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,

  -modernize-use-override,

  -readability-function-cognitive-complexity,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-redundant-access-specifiers,
  -readability-redundant-inline-specifier,
  -readability-simplify-boolean-expr,
  -readability-uppercase-literal-suffix



  ,-misc-include-cleaner
  ,-readability-identifier-length
  ,-cppcoreguidelines-avoid-c-arrays
  ,-hicpp-avoid-c-arrays
  ,-modernize-avoid-c-arrays
'

WarningsAsErrors: false
HeaderFilterRegex: '(.*\.hpp)'
